// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.copyright {
	@extend %x-zeta;
	margin-top: 5em;
	display: block;
	text-align: left;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
