// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.recs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start; 
    margin-bottom: 2em;
}

.recs__item {
	@include breakpoint(goldilocks) {
	    width: 100%;
	}
	@include breakpoint(baby-bear) {
	    width: 45%;
	}
	@include breakpoint(mummy-bear) {
	    // empty
	}
	@include breakpoint(daddy-bear) {
	    // empty
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
