---
title: Terms
description:
tags:
  - privacy policy
  - terms
  - terms of service
layout: ramsay
classes: terms
scripts:
  slides: false
  jump: false
sitemap: true
---
<article class="pinch-left pinch-right">
	<header class="page-columns">
		<div class="page-columns__verso">
			<h1 class="alpha masthead">Privacy Policy and Terms of Service</h1>
		</div>
		<div class="page-columns__recto"></div>
	</header>
	<div class="page-columns">
		<div class="page-columns__verso">
			<p>We know you care about how your information is used and shared, and we appreciate your trust that Neon will do this sensibly. The privacy policy and terms of service below describe how Neon interacts with your information. By using this website, you agree to our privacy policy and terms of service.</p>
		</div>
		<div class="page-columns__recto">
			<%= partial "partials/content.terms" %>
		</div>
	</div>
</article>
