---
title: Terms
description:
layout: noble
classes: terms
scripts:
  slides: false
---
<section class="pinch-left pinch-right">
	<header class="page-columns">
		<div class="page-columns__verso">
			<!--<h1 class="prehead -alt-01">TODO</h1>-->
			<h1 class="h -cushion">Privacy Policy and Terms of Service</h1>
		</div>
		<div class="page-columns__recto"></div>
	</header>
	<div class="page-columns">
		<div class="page-columns__verso">
			<p class="copy">We know you care about how your information is used and shared, and we appreciate your trust that Neon will do this sensibly. The privacy policy and terms of service below describe how Neon interacts with your information. By using this website, you agree to our privacy policy and terms of service.</p>
		</div>
		<div class="page-columns__recto">
			<%= partial "partials/content.terms" %>
		</div>
	</div>
</section>
