// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$w: 90%;

.badges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.badges-item {
    .-double & {
        width: ($w / 2);
    }
    .-triple & {
        width: ($w / 3);
    }
    .-quadruple & {
        width: ($w / 4);
    }
    .-septuple & {
        width: ($w / 7);
    }
}

.badge {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
