// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$desired-width: 12em;
$original-width: 120px;
$original-height: 50px;
$shift-left: 47px;

.logo-link,
.logo {
	@include alt-rectangle($desired-width, (($original-height / $original-width) * $desired-width));
	display: block;
}

.logo-link {
	transition: none;
}

.logo {	
	float: left;
	background: url('/images/navigation/logo.svg') no-repeat 50% 50%;
	transform: translateX(-1 * percentage($shift-left / $original-width));
	i {
		@include visuallyhidden;
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -