// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.prehead {
	@include type(1.2, 3.0, $colour-mine-shaft, $font-family-primary-3);
	letter-spacing: (150 / 1000) * 1em;
	text-transform: uppercase;
	&.-alt-1 {
		color: $colour-silver-chalice;	
	}
	&.-alt-2 {
		margin-bottom: 1em;
	}
}
