// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.site-footer {
	background-color: $colour-silver-chalice-10-percent;
	margin-top: 12em;
	padding-top: 4em;
	padding-bottom: 7em;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
