// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.slides {
	@include clearfix;
	position: relative;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}

.slide--columns {
	@include clearfix;
	margin-bottom: 10em;
}

.slide--columns--verso {
	float: left;
	width: 52%;
}

.slide--columns--recto {
	float: right;
	width: 41%;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
