---
title: Careers
description:
layout: noble
classes: careers
scripts:
  slides: false
---

<div class="collage-outer pinch-right">
	<section class="collage-inner -collage-flavour-01">
		<figure class="collage-image -tile-01-a"></figure>
		<div class="collage-text -tile-01-b">
			<h2 class="h">Will you impact how images are used across the internet?</h2>
			<p class="copy">We have a big vision: we are changing the way images are selected and surfaced across the internet. Our technology helps images tell stories ranging from contested elections to the products you buy to Olympic champions. Join us to grow in a rich and creative environment where you&rsquo;ll impact how images are used across the internet.</p>
			<a class="cta-small" href="/jobs/">See Jobs</a>
		</div>
		<div class="collage-cutout -tile-01-c"></div>
		<div class="collage-cutout -tile-01-d"></div>
		<div class="collage-cutout -tile-01-e"></div>
		<div class="collage-cutout -tile-01-f"></div>
		<div class="collage-cutout -tile-01-g"></div>
		<div class="collage-cutout -tile-01-h"></div>
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-02">
		<div class="collage-text -tile-02-a">
			<h2 class="hh">Life at Neon</h2>
			<p class="copy">At Neon, we&rsquo;re not just building products. We&rsquo;re building a place that people come to do great work in an enriching, creative environment. We are a tight&#45;knit group of passionate, curious, and creative individuals motivated by solving hard problems and building high quality products. We are relentless do&#45;ers, and we reward execution with deep trust and independence.</p>
		</div>
		<figure class="collage-image -tile-02-b"></figure>
		<figure class="collage-image -tile-02-c"></figure>
	</section>
</div>

<div class="collage-outer pinch-right">
	<section class="collage-inner -collage-flavour-03">
		<div class="collage-text -tile-03-a">
			<h2 class="hh">We thrive on learning.</h2>
			<p class="copy">Neon is a space to grow and do your best work surrounded by a supportive and smart team. One of our interns made a discovery that is going to be patented. Our office manager developed skills at Neon that allowed her to move into a role as our communications lead. We regularly host events to learn from and share with our community.</p>
		</div>
		<div class="collage-text -tile-03-b">
			<blockquote class="happy-quote">
				<q class="happy-words">The problems I get to work on every day are so interesting. Our focus on R&amp;D gives me the space and resources to really take chances and make discoveries.</q>
				<footer class="happy-source"><cite>Nick Dufour / Machine Learning Engineer</cite></footer>
			</blockquote>
		</div>
		<figure class="collage-image -tile-03-c"></figure>
		<figure class="collage-image -tile-03-d"></figure>
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-04">
		<div class="collage-text -tile-04-a">
			<h2 class="hh">We invest in ourselves.</h2>
			<p class="copy">We expect people to do exceptional things, so we provide an exceptional environment. We&rsquo;re not talking about free snacks and an Uber account (though we have those too). We take offsites, send our team members to conferences, and over time have built out an office library where you can find books on anything from brain scans to design thinking.</p>
		</div>
		<div class="collage-text -tile-04-b">
			<blockquote class="happy-quote">
				<q class="happy-words">I love that I have the support of my team to build internal tools that make our work easier. Anyone can do anything at Neon.</q>
				<footer class="happy-source"><cite>Deb Johnson / Designer</cite></footer>
			</blockquote>
		</div>
		<figure class="collage-image -tile-04-c"></figure>
		<figure class="collage-image -tile-04-d"></figure>
		<figure class="collage-image -tile-04-e"></figure>
	</section>
</div>

<div class="collage-outer pinch-left">
	<section class="collage-inner -collage-flavour-05">
		<div class="collage-text -tile-05-a">
			<h2 class="hh">We&rsquo;re committed to quality.</h2>
			<p class="copy">From the way we onboard new team members to our custom&#45;designed holiday stamp to ensuring &gt;95% test coverage, we don&rsquo;t stop until it&rsquo;s right. Our dedication to thoroughness gives us the space to take creative leaps. Our team&rsquo;s high quality creative work has been recognized by the World Economic Forum&rsquo;s Technology Pioneers award and Fast Company&rsquo;s Most Creative People list among others.</p>
		</div>
		<div class="collage-text -tile-05-b">
			<blockquote class="happy-quote">
				<q class="happy-words">It&rsquo;s refreshing to be part of a team that cares about process and output down to the last detail. UX is always part of the conversation.</q>
				<footer class="happy-source"><cite>Nicole Halmi / Communications and Operations Lead</cite></footer>
			</blockquote>
		</div>
		<figure class="collage-image -tile-05-c"></figure>
		<figure class="collage-image -tile-05-d"></figure>
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-06">
		<div class="collage-text -tile-06-a">
			<h2 class="prehead -alt-01">Community</h2>
			<h3 class="hh">We&rsquo;re building a community of people who think about images deeply.</h3>
			<p class="copy">We are constantly cultivating creative partnerships with other companies and non&#45;profit organizations. These partnerships open us up to new ways of thinking about images and how images impact our world.</p>
			<!-- TODO <a class="cta-small" href="/partnerships/">Learn more</a> -->
		</div>
		<figure class="collage-image -tile-06-b"></figure>
		<figure class="collage-image -tile-06-c"></figure>
		<figure class="collage-image -tile-06-d"></figure>
	</section>
</div>

<section class="pinch-left">
	<a class="cta-large" href="/jobs/">See Jobs</a>
</section>
