---
title: Careers
layout: noble
classes: careers
---

<div class="collage-outer pinch-right">
	<section class="collage-inner -collage-flavour-02">
		TODO
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-03">
		TODO
	</section>
</div>

<div class="collage-outer pinch-right">
	<section class="collage-inner -collage-flavour-04">
		TODO
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-05">
		TODO
	</section>
</div>

<div class="collage-outer pinch-left">
	<section class="collage-inner -collage-flavour-06">
		TODO
	</section>
</div>

<div class="collage-outer pinch-left pinch-right">
	<section class="collage-inner -collage-flavour-01">
		<div class="collage-text -tile-01-a">
			<h5 class="prehead -alt-1">fish fingers and custard</h5>
			<h2 class="hh">The images your viewers<br />want to see, automatically.</h2>
			<p>Our smart, science&ndash;based approach to understanding<br/>images can predict how your images will perform.</p>
			<a class="cta-small" href="TODO">Discover</a>
		</div>
		<figure class="collage-image -tile-01-b"></figure>
		<figure class="collage-image -tile-01-c"></figure>
		<figure class="collage-image -tile-01-d"></figure>
	</section>
</div>

<section class="pinch-left">
	<a class="cta-large" href="TODO">See Jobs</a>
</section>
