<header class="site-header restraint clearfix" role="banner">
	<div class="site-header-cushion pinch-left pinch-right">
		<%= partial "partials/ramsay/mark" %>
		<%= partial "partials/ramsay/nav.primary" %>
	</div>
</header>
