<nav class="timeline-nav -septuple -pops -sunken" id="js-neon-how-it-works-nav">
    <a href="#introduction" class="timeline-nav-item -introduction js-sldr">Introduction</a>
    <a href="#import" class="timeline-nav-item -import js-sldr">Import</a>
    <a href="#algorithms" class="timeline-nav-item -algorithms js-sldr">Algorithms</a>
    <a href="#seed-library" class="timeline-nav-item -seed-library js-sldr">Seed Library</a>
    <a href="#valence" class="timeline-nav-item -valence js-sldr">Valence</a>
    <a href="#analytics" class="timeline-nav-item -analytics js-sldr">Analytics</a>
    <a href="#best-performer" class="timeline-nav-item -best-performer js-sldr">Best Performer</a>
</nav>
