<nav class="timeline-nav -septuple -pops -sunken">
    <a href="#introduction" class="timeline-nav-item -introduction">Introduction</li>
    <a href="#import" class="timeline-nav-item -import">Import</a> <!-- -selected -selected-border -->
    <a href="#algorithms" class="timeline-nav-item -algorithms">Algorithms</a>
    <a href="#seed-library" class="timeline-nav-item -seed-library">Seed Library</a>
    <a href="#valence" class="timeline-nav-item -valence">Valence</a>
    <a href="#analytics" class="timeline-nav-item -analytics">Analytics</a>
    <a href="#best-performer" class="timeline-nav-item -best-performer">Best Performer</a>
</nav>
