<form id="newsletter" class="newsletter" onsubmit="this.classList.add('is-submitted')" action="https://formkeep.com/f/00f26f27ac0d" method="post" accept-charset="UTF-8">
	<input type="hidden" name ="utf8" value="✓" />
	<fieldset class="newsletter-cushion">
		<legend class="newsletter-legend">Subscribe to our Newsletter</legend>
		<div class="newsletter-grouper">
			<label for="email" class="newsletter-label">Email Address</label>
			<input id="email" name="email" type="text" placeholder="Email address" class="newsletter-email" />
			<input type="submit" class="newsletter-submit" value="Go" />
		</div>
		<small class="newsletter-message-success">Thanks! You should receive a confirmation email shortly.</small>
	</fieldset>
</form>
