<div class="obstacles -septuple">
	<div class="obstacles--item ">
		<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--dark/introduction.svg);"></div>
		<div class="call-out">
            <small class="call-out-heading">01</small>
            <h2 class="call-out-details">Introduction</h2>
        </div>
	</div>
	<div class="obstacles--item -fixed-height-1">
		<a href="#import" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/import.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">02</small>
	            <h2 class="call-out-details -alt-01">Import</h2>
	        </div>
	    </a>
	</div>
	<div class="obstacles--item">
		<a href="#algorithms" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/algorithms.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">03</small>
	            <h2 class="call-out-details -alt-01">Algorithms</h2>
	        </div>
	    </a>
	</div>
	<div class="obstacles--item">
		<a href="#seed-library" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/seed-library.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">04</small>
	            <h2 class="call-out-details -alt-01">Seed Library</h2>
	        </div>
	    </a>
	</div>
	<div class="obstacles--item">
		<a href="#valence" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/valence.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">05</small>
	            <h2 class="call-out-details -alt-01">Valence</h2>
	        </div>
	    </a>
	</div>
	<div class="obstacles--item">
		<a href="#analytics" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/analytics.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">06</small>
	            <h2 class="call-out-details -alt-01">Analytics</h2>
	        </div>
	    </a>
	</div>
	<div class="obstacles--item">
		<a href="#best-performer" class="blonker">
			<div class="obstacles--item--image" style="background-image: url(/images/how-it-works/icons--light/best-performer.svg);"></div>
			<div class="call-out">
	            <small class="call-out-heading -alt-01">07</small>
	            <h2 class="call-out-details -alt-01">Best Performer</h2>
	        </div>
	    </a>
	</div>
</div>
