<footer class="site-footer">
	<div class="pinch-left pinch-right">
		<div class="bricks -quadruple">
			<div class="brick">
				<h5 class="prehead -alt-2">Company</h5>
				<ul class="tertiary-nav">
					<li class="tertiary-nav-item"><a href="/about/">About</a></li>
					<li class="tertiary-nav-item"><a href="/jobs/">Jobs</a></li>
					<li class="tertiary-nav-item"><a href="/partnerships/">Partnerships</a></li>
					<li class="tertiary-nav-item"><a href="/news-and-press/">News + Press</a></li>
					<li class="tertiary-nav-item"><a href="/blog/">Blog</a></li>
					<li class="tertiary-nav-item"><a href="/contact/">Contact</a></li>
				</ul>
			</div>
			<div class="brick">
				<h5 class="prehead -alt-2">Resources</h5>
				<ul class="tertiary-nav">
					<li class="tertiary-nav-item"><a href="TODO">API Documentation</a></li>
					<li class="tertiary-nav-item"><a href="/terms/">Terms of Service</a></li>
				</ul>
			</div>
			<div class="brick">
				<h5 class="prehead -alt-2">Social</h5>
				<ul class="tertiary-nav">
					<li class="tertiary-nav-item"><a href="TODO">Twitter</a></li>
					<li class="tertiary-nav-item"><a href="TODO">Instagram</a></li>
					<li class="tertiary-nav-item"><a href="TODO">LinkedIn</a></li>
					<li class="tertiary-nav-item"><a href="TODO">Facebook</a></li>
					<li class="tertiary-nav-item"><a href="TODO">Medium</a></li>
				</ul>
			</div>
			<div class="brick">
				<h5 class="prehead -alt-2">Contact</h5>
				<ul class="tertiary-nav">
					<li class="tertiary-nav-item"><a href="mailto:ask@neon-lab.com">ask@neon-lab.com</a></li>
					<li class="tertiary-nav-item">415 355&ndash;4249</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
