<header class="site-header pinch-left pinch-right clearfix">
	<% if current_page.data.home != true %>
		<a class="insignia-link" href="/" title="Go to the Neon home page">
	<% end %>
	<h2 class="insignia"><i>Neon</i></h2>
	<% if current_page.data.home != true %>
		</a>
	<% end %>
	<ul class="primary-nav">
		<li class="primary-nav-item -products"><a href="/products/">Products</a></li>
		<li class="primary-nav-item -how-it-works"><a href="/how-it-works/">How it Works</a></li>
		<li class="primary-nav-item -careers"><a href="/careers/">Careers</a></li>
		<li class="primary-nav-item -our-story"><a href="/our-story/">Our Story</a></li>
		<li class="primary-nav-item -about"><a href="/about/">About</a></li>
	</ul>
</header>
