---
title: How it Works
description:
layout: noble
classes: how-it-works
hide_footer: true
scripts:
  slides: true
  jump: false
sitemap: true
---

<%= partial "partials/_nav.how-it-works" %>

<article class="slides" id="js-neon-slides">
	<section id="introduction" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h1 class="prehead -alt-01">How it Works</h1>
				<h4 class="h">The Journey of an Image.</h4>
				<p class="copy">Though the journey from video or image library to top performing images happens in a matter of seconds, what goes on behind the scenes is complex. From machine learning to live image testing, Neon quickly and efficiently identifies and publishes your top images.</p>
				<a class="cta-small js-sldr" href="#import">Begin the Journey</a>
			</div>
		</div>
		<%= partial "partials/_obstacles" %>
	</section>

	<section id="import" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Import</h2>
				<h3 class="hh">Capturing millions of images, billions of frames, and even live video.</h3>
				<p class="copy">Neon automatically ingests images as well as live, on demand, and scheduled video. Video is separated into frames that are then analyzed in a variety of ways to efficiently identify the most valuable images that will result in the highest engagement.   </p>
				<a class="cta-small js-sldr" href="#algorithms">Next: Algorithms</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/import/how_it_works--import-01.jpg" alt="" title="" />
			</div>
		</div>
	</section>

	<section id="algorithms" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Algorithms</h2>
				<h3 class="hh">Identifying the best images and analyzing them based on machine learning algorithms.</h3>
				<p class="copy">Neon is built on a highly flexible combination of neuroscience, data analytics, and machine learning technology that models human visual preference. Once images are imported, our algorithms sift through to find the images most likely to appeal to your audience.</p>
				<a class="cta-small js-sldr" href="#seed-library">Next: Seed Library</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/algorithms/temp-static-algorithms.png" />
			</div>
		</div>
	</section>

	<section id="seed-library" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Seed Library</h2>
				<h3 class="hh">Comparing the target image with Neon&rsquo;s image library.</h3>
				<p class="copy">Once the top images are identified by our machine learning algorithms, we compare those images to images with known performance data in our seed library. Images with characteristics similar to previously top performing images are surfaced from the set of images surfaced by the algorithms.</p>
				<a class="cta-small js-sldr" href="#valence">Next: Valence</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/seed-library/how_it_works--library-09.png" alt="" title="" />
			</div>
		</div>
	</section>

	<section id="valence" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Valence</h2>
				<h3 class="hh">A numerical scale indicating positive or negative response to an image.</h3>
				<p class="copy">Once the refined set of images is surfaced by the algorithms and by comparison to the seed library, the remaining images are assigned a valence score. Valence is a proprietary numerical scale that corresponds to how strongly we predict an emotional response in your audience for a given image.</p>
				<a class="cta-small js-sldr" href="#analytics">Next: Analytics</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/valence/temp-static-valence.png" alt="" title="" />
			</div>
		</div>
	</section>

	<section id="analytics" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Analytics</h2>
				<h3 class="hh">Published with other high valence images, live analysis determines the top image.</h3>
				<p class="copy">The set of images with the highest valence scores are published to your site in tandem and tested against each other to determine the lift, or increase in click rate, for each image. This allows us to determine the top-performing and most valuable images from your image set. </p>
				<a class="cta-small js-sldr" href="#best-performer">Next: Best Performer</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/analytics/temp-static-analytics.png" alt="" title="" />
			</div>
		</div>
	</section>

	<section id="best-performer" class="slide pinch-left pinch-right js-neon-slide">
		<div class="slide__columns">
			<div class="slide__columns__verso">
				<h2 class="prehead -alt-01">Best Performer</h2>
				<h3 class="hh">The best performing image stays live and is added to the Neon seed library.</h3>
				<p class="copy -alt-01">By ingesting image composition and performance data, we are able to continually improve the algorithms and seed library. This means that Neon gets better, faster, and more able to find your best images. </p>
				<a class="cta-large" href="mailto:sales@neon-lab.com">Get Started with Neon</a>
			</div>
			<div class="slide__columns__recto">
				<img class="hero" src="/images/how-it-works/rocket.jpg" alt="" title="" />
			</div>
		</div>
	</section>
</article>

