---
title: Contact
description:
layout: layout
scripts:
  slides: false
---

%main
  .l-constrained
    .section
      .columns
        .column.column__page-intro
          %h1.section__label
            Contact
          %h2.section__title
            Get in Touch.
        .column.column__main-content
          .image-container
            = image_tag('contact/contact-office.jpg', class: 'column__image')
