<h2 class="beta">About Neon</h2>

<p>Neon is a venture&ndash;funded startup based on technology spun out of Brown, Carnegie Mellon and Harvard Medical School. Neon&rsquo;s fully automated image selection platform uses proprietary science to predict how the human brain will respond to images and how that response translates to increases in revenue through audience engagement.</p>
