<h2 class="beta">How to Apply</h2>
<p>Please send your resume and links to your previous projects (Github, Bitbucket etc.) to <a href="mailto:careers@neon-lab.com">careers@neon-lab.com</a> and let us know why you&rsquo;re interested in this position.</p>
