<p>Joining our team means you&rsquo;ll become part of a high performance group that has built underwater robots and streaming services at Google and Brightcove. We have fun by cultivating hobbies such as sailing in the Bay and judging robotics competitions.</p>
