<h2 class="beta">Neon&rsquo;s Internship Program</h2>

<p>At Neon, we value freedom and responsibility. Because of the nature of our culture, we&rsquo;re particularly interested in people who work well in a self&ndash;directed environment where everyone has autonomy and ownership over their work. Since we treat Interns as full members of the team, we expect them to contribute their own ideas and work closely with other team members.</p>
