---
title: Living Front&#45;End Style Guide
description:
layout: noble
classes: style-guide
scripts:
  slides: false
sitemap: false
---

<article class="styleguide-container">

    <h1 class="styleguide-h1"><%= current_page.data.title %></h1>

    <h2 class="styleguide-h2">Atoms</h2>

    <div class="styleguide-key">Primary Colours</div>
    <div class="styleguide-value">
        <table class="styleguide-colours-swatches">
            <tr>
                <td class="styleguide-colours-swatch -colour-mine-shaft"></td>
                <td class="styleguide-colours-swatch -colour-silver-chalice"></td>
                <td class="styleguide-colours-swatch -colour-gray-chateau"></td>
                <td class="styleguide-colours-swatch -colour-dusty-gray"></td>
                <td class="styleguide-colours-swatch -colour-burning-orange"></td>
                <td class="styleguide-colours-swatch -colour-white"></td>
            </tr>
        </table>
    </div>

    <div class="styleguide-key">Secondary Colours</div>
    <div class="styleguide-value">
        <table class="styleguide-colours-swatches">
            <tr>
                <td class="styleguide-colours-swatch -colour-gallery"></td>
                <td class="styleguide-colours-swatch -colour-regent-gray"></td>
                <td class="styleguide-colours-swatch"></td>
                <td class="styleguide-colours-swatch"></td>
                <td class="styleguide-colours-swatch"></td>
                <td class="styleguide-colours-swatch"></td>
            </tr>
        </table>
    </div>

    <div class="styleguide-key">Highest Level Heading / class="h"</div>
    <div class="styleguide-value">
        <h1 class="h">I&rsquo;m the Doctor, I can save the world with a kettle and some string!<br />And look! I&rsquo;m wearing a vegetable!</h1>
    </div>

    <div class="styleguide-key">Section Heading / class="hh"</div>
    <div class="styleguide-value">
        <h2 class="hh">There was a war. A Time War. The Last Great Time War.</h2>
    </div>

    <div class="styleguide-key">Sub Section Heading / class="hhh"</div>
    <div class="styleguide-value">
        <h3 class="hhh">Don&rsquo;t you think she looks tired?</h3>
    </div>

    <div class="styleguide-key">Listed Heading / class="hhhh"</div>
    <div class="styleguide-value">
        <h4 class="hhhh">What have butterflies ever done to you?</h4>
    </div>

    <div class="styleguide-key">Prehead / class="prehead"</div>
    <div class="styleguide-value">
        <h5 class="prehead">fish fingers and custard</h5>
    </div>

    <div class="styleguide-key">Prehead Alternative 1 / class="prehead -alt-01"</div>
    <div class="styleguide-value">
        <h5 class="prehead -alt-01">fish fingers and custard</h5>
    </div>

    <div class="styleguide-key">Prehead Alternative 2 / class="prehead -alt-02"</div>
    <div class="styleguide-value">
        <h5 class="prehead -alt-02">Wibbly Wobbly Timey Wimey</h5>
    </div>

    <div class="styleguide-key">Details / class="details"</div>
    <div class="styleguide-value">
        <h5 class="details">it&rsquo;s the fifteenth New York since the original</h5>
    </div>

    <div class="styleguide-key">Details Alternative / class=".details -alt"</div>
    <div class="styleguide-value" style="background-color: black;">
        <h5 class="details -alt">it&rsquo;s the fifteenth New York since the original</h5>
    </div>

    <div class="styleguide-key">p</div>
    <div class="styleguide-value">
        <p>The world&rsquo;s about to end, and here I am, stuck in traffic.</p>
    </div>

    <div class="styleguide-key">ul</div>
    <div class="styleguide-value">
        <ul>
            <li>Kidneys! I have kidneys. And I don&rsquo;t like the colour.</li>
            <li>My ship&hellip;my TARDIS&hellip; Reverse the polarity of&hellip; Would you like a jelly baby?</li>
            <li>We&rsquo;re fallin&rsquo; through space, you and me, clinging to the skin of this tiny little world, and if we let go&hellip;</li>
            <li>Doctor no more.</li>
            <li>This stuff, or whoever sent it, is cleverer than we are.</li>
            <li>Unfortunate, isn&rsquo;t it? Grace, I came back to life before your eyes. I held back death. Look, I can&rsquo;t make your dream come true forever, but I can make it come true today.</li>
            <li>Excuse me, do you mind not farting while I&rsquo;m saving the world?</li>
        </ul>
    </div>

    <div class="styleguide-key">Call To Action (small) / class="cta-small"</div>
    <div class="styleguide-value">
        <a class="cta-small" href="#">Allons&#45;y</a>
    </div>

    <div class="styleguide-key">Call To Action (large) / class="cta-large"</div>
    <div class="styleguide-value">
        <a class="cta-large" href="#">Get in touch</a>
    </div>

    <div class="styleguide-key">Inline Anchor</div>
    <div class="styleguide-value">
        <p>Shall we ask for a better quality of <a href="#">door</a> so we can escape?</p>
    </div>

    <div class="styleguide-key">.divider</div>
    <div class="styleguide-value">
        <hr class="divider" />
    </div>

    <div class="styleguide-key">Secondary Navigation / class="secondary-nav"</div>
    <div class="styleguide-value">
        <ul class="secondary-nav">
            <li class="secondary-nav-item"><a href="#">First Doctor</a></li>
            <li class="secondary-nav-item"><a href="#">Second Doctor</a></li>
            <li class="secondary-nav-item -selected"><a href="#">Third Doctor</a></li>
            <li class="secondary-nav-item"><a href="#">Fourth Doctor</a></li>
            <li class="secondary-nav-item"><a href="#">Fifth Doctor</a></li>
            <li class="secondary-nav-item"><a href="#">Sixth Doctor</a></li>
            <li class="secondary-nav-item"><a href="#">Seventh Doctor</a></li>
        </ul>
    </div>

    <div class="styleguide-key" id="logo">Logo / class="logo"</div>
    <div class="styleguide-value">
        <h2 class="logo"><i>Neon</i></h2>
    </div>

    <div class="styleguide-key" id="primary-nav">Primary Navigation / class="primary-nav"</div>
    <div class="styleguide-value">
        <ul class="primary-nav">
            <li class="primary-nav-item"><a href="#">Products</a></li>
            <li class="primary-nav-item"><a href="#">How it Works</a></li>
            <li class="primary-nav-item"><a href="#">Careers</a></li>
            <li class="primary-nav-item -selected"><a href="#">Our Story</a></li>
            <li class="primary-nav-item"><a href="#">Get Started</a></li>
        </ul>
    </div>

    <div class="styleguide-key">Bricks, 4 wide / class="bricks -quadruple"</div>
    <div class="styleguide-value">
        <div class="bricks -quadruple">
            <div class="brick">
                <p>The past is another country. 1987&rsquo;s just the Isle of Wight. You realise one of us is lying about our basic programming. </p>
            </div>
            <div class="brick">
                <p>And I think we both know which one that is. Your ideas are too narrow and crippled. I am a citizen of the universe and a gentleman to boot.</p>
            </div>
            <div class="brick">
                <p>An unintelligent enemy is far less dangerous than an intelligent one&hellip;. Reverse the polarity of&hellip; What?!</p>
            </div>
            <div class="brick">
                <p>Come out. And don&rsquo;t touch anything! Usually called &rsquo;The Doctor.&rsquo; Or &rsquo;The Caretaker.&rsquo;</p>
            </div>
        </div>
    </div>

    <div class="styleguide-key">Bricks, 3 wide / class="bricks -triple"</div>
    <div class="styleguide-value">
        <div class="bricks -triple">
            <div class="brick">
                <p>The past is another country. 1987&rsquo;s just the Isle of Wight. You realise one of us is lying about our basic programming. </p>
            </div>
            <div class="brick">
                <p>And I think we both know which one that is. Your ideas are too narrow and crippled. I am a citizen of the universe and a gentleman to boot.</p>
            </div>
            <div class="brick">
                <p>An unintelligent enemy is far less dangerous than an intelligent one&hellip;. Reverse the polarity of&hellip; What?! Come out. And don&rsquo;t touch anything! Usually called &rsquo;The Doctor.&rsquo; Or &rsquo;The Caretaker.&rsquo;</p>
            </div>
        </div>
    </div>

    <div class="styleguide-key">Bricks, 2 wide / class="bricks -double"</div>
    <div class="styleguide-value">
        <div class="bricks -double">
            <div class="brick">
                <p>The past is another country. 1987&rsquo;s just the Isle of Wight. You realise one of us is lying about our basic programming. </p>
            </div>
            <div class="brick">
                <p>And I think we both know which one that is. Your ideas are too narrow and crippled. I am a citizen of the universe and a gentleman to boot.</p>
            </div>
            <div class="brick">
                <p>An unintelligent enemy is far less dangerous than an intelligent one&hellip;. Reverse the polarity of&hellip; What?! Come out. And don&rsquo;t touch anything! Usually called &rsquo;The Doctor.&rsquo; Or &rsquo;The Caretaker.&rsquo;</p>
            </div>
            <div class="brick">
                <p>Or &rsquo;Get off this planet.&rsquo; Though, strictly speaking, that probably isn&rsquo;t a name.</p>
            </div>
            <div class="brick">
                <p>A tear, Sarah Jane? No, don&rsquo;t cry. While there&rsquo;s life, there&rsquo;s&hellip; Goodbye&hellip; Fancypants!</p>
            </div>
        </div>
    </div>

    <div class="styleguide-key">Hero Image / class="hero"</div>
    <div class="styleguide-value">
        <img class="hero" src="http://i.imgur.com/dng2YSM.jpg" alt="The Doctor & Clara rock out at The Beatles&rsquo; Abbey Road Crossing" title="The Doctor & Clara rock out at The Beatles&rsquo; Abbey Road Crossing" />
    </div>

    <div class="styleguide-key">Statistic / class="stat"</div>
    <div class="styleguide-value">
        <div class="stat">1 billion dollars!</div>
    </div>

    <div class="styleguide-key">Badges, 2 wide / class="badges -double"</div>
    <div class="styleguide-value">
        <div class="badges -double">
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Night Dragon Haulage&w=500&h=500" alt="Night Dragon Haulage" title="Night Dragon Haulage"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Hibernian Oil&w=500&h=500" alt="Hibernian Oil" title="Hibernian Oil"></div>
        </div>
    </div>

    <div class="styleguide-key">Badges, 3 wide / class="badges -triple"</div>
    <div class="styleguide-value">
        <div class="badges -triple">
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Stone and Parsons&w=500&h=500" alt="Stone and Parsons" title="Stone and Parsons"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=MΨTH&w=500&h=500" alt="MΨTH" title="MΨTH"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Coldfire Construction&w=500&h=500" alt="Coldfire Construction" title="Coldfire Construction"></div>
        </div>
    </div>

    <div class="styleguide-key">Badges, 4 wide / class="badges -quadruple"</div>
    <div class="styleguide-value">
        <div class="badges -quadruple">
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Yamoyata Company&w=500&h=500" alt="Yamoyata Company" title="Yamoyata Company"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Brightwell & Hyman&w=500&h=500" alt="Brightwell & Hyman" title="Brightwell & Hyman"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Archer & Lewis&w=500&h=500" alt="Archer & Lewis" title="Archer & Lewis"></div>
            <div class="badges-item"><img class="badge" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=Vitex&w=500&h=500" alt="Vitex" title="Vitex"></div>
        </div>
    </div>

    <h2 class="styleguide-h2">Molecules</h2>

    <div class="styleguide-key">Blockquote / class="happy-quote"</div>
    <div class="styleguide-value">
        <blockquote class="happy-quote">
            <q class="happy-words">The worst quote ever</q>
            <footer class="happy-source"><cite>Ted Anderson / King of the World</cite></footer>
        </blockquote>
    </div>

    <div class="styleguide-key">Collage Flavour 6 / class="collage" (can be used with .pinch-left and/or .pinch-right)</div>
    <div class="styleguide-value">
        <div class="collage-outer pinch-left pinch-right">
            <section class="collage-inner -collage-flavour-06">
                <div class="collage-text -tile-06-a">
                    <h5 class="prehead -alt-01">fish fingers and custard</h5>
                    <h2 class="hh">The images your viewers<br />want to see, automatically.</h2>
                    <p class="copy">Our smart, science&#45;based approach to understanding<br/>images can predict how your images will perform.</p>
                    <a class="cta-small" href="#">Discover</a>
                </div>
                <figure class="collage-image -tile-06-b"></figure>
                <figure class="collage-image -tile-06-c"></figure>
                <figure class="collage-image -tile-06-d"></figure>
            </section>
        </div>
    </div>

    <div class="styleguide-key">.prehead .alt-01 &amp; .hh &amp; p &amp; .cta-small</div>
    <div class="styleguide-value">
        <h5 class="prehead -alt-01">fish fingers and custard</h5>
        <h2 class="hh">The images your viewers<br />want to see, automatically.</h2>
        <p class="copy">Our smart, science&#45;based approach to understanding<br/>images can predict how your images will perform.</p>
        <a class="cta-small" href="#">Discover</a>
    </div>

    <div class="styleguide-key">.prehead .-alt-01 &amp; .hhhh &amp; p</div>
    <div class="styleguide-value">
        <h5 class="prehead -alt-01">2002</h5>
        <h2 class="hhhh">Nokia 7650 brings camera phones mainstream success</h2>
        <p class="copy">and releases an internet enabled phone to the mass market.</p>
    </div>

    <div class="styleguide-key">.timeline-nav &amp; timeline-nav-item &amp; .timeline-mercury</div>
    <div class="styleguide-value">
        <hr class="timeline-mercury" />
        <ol class="timeline-nav -sextuple">
            <a class="timeline-nav-item">1800</a>
            <a class="timeline-nav-item -selected">1850</a>
            <a class="timeline-nav-item">1900</a>
            <a class="timeline-nav-item">1950</a>
            <a class="timeline-nav-item">2000</a>
            <a class="timeline-nav-item">Neon</a>
        </ol>
    </div>

    <div class="styleguide-key">.timeline-nav &amp; timeline-nav-item &amp; selected-border &amp; -ghost</div>
    <div class="styleguide-value">
        <%= partial "partials/_nav.how-it-works" %>
    </div>

    <div class="styleguide-key">.call-out &amp; call-out-heading &amp; call-out-details</div>
    <div class="styleguide-value">
        <div class="call-out">
            <h4 class="call-out-heading">19XX</h4>
            <h5 class="call-out-details">3 billion photos<br />taken each year</h5>
            <hr class="call-out-line" />
        </div>
    </div>

    <div class="styleguide-key">Pinch Left (colour and height added for effect) / class="pinch-left"</div>
    <div class="styleguide-value">
        <div class="pinch-left faux"></div>
    </div>

    <div class="styleguide-key">Pinch Right (colour and height added for effect) / class="pinch-right"</div>
    <div class="styleguide-value">
        <div class="pinch-right faux"></div>
    </div>

    <div class="styleguide-key">Pinch Both (colour and height added for effect) / class="pinch-left pinch-right"</div>
    <div class="styleguide-value">
        <div class="pinch-left pinch-right faux"></div>
    </div>

    <div class="styleguide-key">Footer / class="footer"</div>
    <div class="styleguide-value">
        <%= partial "partials/site.footer" %>
    </div>

    <div class="styleguide-key">Obstacles / class="obstacles"</div>
    <div class="styleguide-value">
        <%= partial "partials/_obstacles" %>
    </div>

</article>
