.l-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.l-constrained {
  max-width: 1278px;
  margin: auto
}

.l-narrow {
  width: 66%;
}

.l-narrow--offset {
  width: 66%;
  float: right;
  @include clearfix;
}
