// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// http://chir.ag/projects/name-that-color/


$colour-white: #fff;

// Primary
$colour-gray-chateau: #95a1ab;
$colour-mine-shaft: #3d3d3d;
$colour-dusty-gray: #989898;
$colour-silver-chalice: #aaa;
$colour-burning-orange: #ff6b31;

// Secondary
$colour-gallery: #ebebeb;
$colour-alabaster: #f7f7f7;
$colour-alto: #ddd;
$colour-regent-gray: #84929d;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
