// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$SITE-MAX-WIDTH: 1278px;
$BASE-FONT-SIZE-PX: 16px;
$DEFAULT-TRANSITION-TIME: 0.4s;

$how-it-works-icons: ('introduction', 'import', 'algorithms', 'seed-library', 'valence', 'analytics', 'best-performer');
$primary-nav-links: ('home', 'products', 'how-it-works', 'careers', 'our-story', 'about', 'contact');

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
