// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin placeholder {
    $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin vertical-align-center {
    position: absolute;
    top: 50%; // parents's 50%
    transform: translateY(-50%); // child's 50%
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin mp0 {
    margin: 0;
    padding: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
