---
title: Backend Engineer | Jobs
description:
layout: noble
classes: jobs
scripts:
  slides: false
---
<section class="pinch-left pinch-right">
	<header class="page-columns">
		<div class="page-columns__verso">
			<h1 class="prehead -alt-01">Open Position</h1>
			<h2 class="h -cushion">Backend Engineer.</h2>
		</div>
	</header>
	<div class="page-columns">
		<div class="page-columns__verso">
			<a class="cta-small" href="/jobs/">Back to Jobs</a>
		</div>
		<div class="page-columns__recto">		
			<h3 class="hh">About the position</h3>
			<p>As a backend engineer at Neon, you&rsquo;ll work primarily with the Engineering team to build robust, scalable systems that support Neon APIs, infrastructure services, and Neon analytics. In this role, you should expect to collaborate deeply with the product and design teams. Given that Neon is an early&ndash;stage startup, you will have an exciting opportunity to work on a wide range of projects. You will be part of a rapid development cycle, writing code primarily in Python for projects ranging from building new APIs, to improving current system performance and scalability, to analytics.</p>
			<h3 class="hh">Requirements</h3>
			<ul>
				<li>In&ndash;depth knowledge of and experience building distributed systems</li>
				<li>Experience in asynchronous programming</li>
				<li>Proven ability to identify and troubleshoot issues in complex systems</li>
				<li>Motivated to deliver high quality code</li>
			</ul>
			<h3 class="hh">Desired Skills</h3>
			<ul>
				<li>Familiarity with Linux, SaaS security, Amazon Web Services, REST, and API design</li>
				<li>Previous coding experience in C/C++/Java Experience in Hadoop and other Apache data analytics technologies</li>
				<li>Knowledge of relational databases and also non&ndash;relational systems like Redis and Memcache</li>
			</ul>
			<h3 class="hh">How to Apply</h3>
			<p>Please send your resume to <a href="mailto:careers@neon-lab.com">careers@neon-lab.com</a> and let us know why you&rsquo;re interested in this position.</p>
		</div>
	</div>
</section>
