// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin type($size, $lead, $colour, $font-family) {
    font-size: $size * 1em;
    line-height: ($lead / $size);
    @if $colour != "" {
        color: $colour;
    }
    @if $font-family != "" {
        font-family: $font-family;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -