---
title: News + Press
description: Read what others are saying about Neon. News, press releases, media kit.
layout: ramsay
scripts:
  slides: false
  jump: false
  sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <h1 class="epsilon">News + Press</h1>
            <div class="alpha">In the News.</div>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <p>Get in touch with questions at <%=mail_to('press@neon-lab.com', 'press@neon-lab.com')%>, or <%=data.config.company_telephone%>.</p>
        </div>
        <div class="page-columns__recto">
            <img class="hero" src="/images/news/trump.jpg" alt="" title="" />
            
            <h2 class="beta"><a href="http://wsj.com/articles/new-software-sifts-the-tide-of-online-images-1443722371" rel="external">New Software Sifts Photos for Most Clickable</a></h2>
            <time class="timestamp" datetime="2015-10-01">The Wall Street Journal / October 1, 2015</time>
            <p>Hundreds of millions of photos and videos flood the Internet each day, a potential gold mine for online businesses that can get people to click on them. But which pictures will draw the biggest crowd and generate the most revenue? How can publishers spot the next viral sensation amid a sea of dross?</p>
            <p><a class="cta-small" href="http://wsj.com/articles/new-software-sifts-the-tide-of-online-images-1443722371" rel="external">Read More</a></p>
            
            <hr class="divider" />
            
            <h2 class="beta"><a href="http://www.businessinsider.com/neon-labs-ceo-lebrecht-at-ignition-2015-2015-10" rel="external">Hear Neon Labs CEO Sophie Lebrecht talk about the amazing science of virality at IGNITION 2015</a></h2>
            <time class="timestamp" datetime="2015-11-11">Business Insider / November 11, 2015</time>
            <p>Sophie Lebrecht, CEO of Neon Labs, has set out to make digital images better, and on Wednesday, December 9, she&rsquo;ll join Business Insider on stage at IGNITION: Future of Digital to talk about "the science of art." Neon Labs, founded in 2012, is Lebrecht&rsquo;s acclaimed endeavor to help businesses scale and automate image selection for digital content through proprietary technology developed in labs at Carnegie Mellon and Brown universities and backed by the National Science Foundation&rsquo;s Innovation Corps.</p>
            <p><a class="cta-small" href="http://www.businessinsider.com/neon-labs-ceo-lebrecht-at-ignition-2015-2015-10" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.inc.com/katherine-barr/codegirl-and-inspiring-advice-from-top-entrepreneurs-who-happen-to-be-women.html" rel="external">CodeGirl And Inspiring Advice From Top Entrepreneurs (Who Happen to be Women)</a></h2>
            <time class="timestamp" datetime="2015-11-10">Inc. / November 10, 2015</time>
            <p>The statistics are dismal: 74% of high school girls show an interest in STEM subjects, but only 4% of college girls choose to major in science, technology, engineering or math. 50% of women who are in STEM careers leave the workforce. CodeGirl, the latest documentary released by Director Lesley Chilcott (Executive Producer of An Inconvenient Truth and Waiting for Superman) tracks the story of 5,000 high school girls from 60 nations as</p>
            <p><a class="cta-small" href="http://www.inc.com/katherine-barr/codegirl-and-inspiring-advice-from-top-entrepreneurs-who-happen-to-be-women.html" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="https://blog.brightcove.com/en/2015/11/meet-neon-brightcove-play-2016" rel="external">Meet Neon at Brightcove PLAY 2016</a></h2>
            <time class="timestamp" datetime="2015-11-18">Brightcove / November 18, 2015</time>
            <p>Brightcove has a rich ecosystem of technology partners who extend the value of Video Cloud. They play a key role with our customers and are also an important presence at our global customer conference, PLAY. We&rsquo;ll be highlighting several of our great partners over the next few months leading up to PLAY 2016.</p>
            <p><a class="cta-small" href="https://blog.brightcove.com/en/2015/11/meet-neon-brightcove-play-2016" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="https://www.rjionline.org/stories/futures-lab-update-127-video-preview-images-that-work-and-a-map-tool-for-pr" rel="external">Video preview images that work, and a map tool for print and online</a></h2>
            <time class="timestamp" datetime="2015-10-28">RJI Futures Lab / October 28, 2015</time>
            <p>Using research into the human brain, a company called Neon programmed an automated system to find the best thumbnail images from within a video file. Chief Executive Officer Sophie Lebrecht shares some insight about which images are most likely to get someone to click the play button.</p>
            <p><a class="cta-small" href="https://www.rjionline.org/stories/futures-lab-update-127-video-preview-images-that-work-and-a-map-tool-for-pr" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://blogs.wsj.com/digits/2015/10/09/what-venture-capital-and-art-have-in-common/" rel="external">What Venture Capital and Art Have in Common</a></h2>
            <time class="timestamp" datetime="2015-10-09">The Wall Street Journal / October 9, 2015</time>
            <p>A unicorn appeared at a Silicon Valley event Wednesday night &mdash; in a screen print by the British artist Mark Wallinger. Unicorns of the tech type &mdash; startups with a valuation over $1 billion &mdash; also were discussed at a cocktail party on the top floor of the Epiphany Hotel in Palo Alto. There, William O&rsquo;Reilly, of the art&ndash;auction house Bonhams, and Jon Callaghan, a founding partner of venture&ndash;capital firm True Ventures, drew parallels between venture capital and art investing. Both markets, for example, drew about $50 billion in investments last year, they said.</p>
            <p><a class="cta-small" href="http://blogs.wsj.com/digits/2015/10/09/what-venture-capital-and-art-have-in-common/" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.broadcastingcable.com/thewire/volicon-and-neon-partner-accelerate-and-optimize-generation-compelling-online-video/143864" rel="external">Volicon and Neon Partner to Accelerate and Optimize the Generation of Compelling Online Video</a></h2>
            <time class="timestamp" datetime="2015-09-02">Broadcasting &amp; Cable / September 2, 2015</time>
            <p>Volicon today announced that it has partnered with Neon, a pioneer in image filtering technology, to accelerate workflow for generating online video clips optimized to attract viewer engagement and, in turn, boost ad revenues. Working with the companies&rsquo; seamlessly integrated solution, broadcasters and other content owners can quickly create and publish timely sports, news, and entertainment content to web platforms using automatically selected thumbnail images with the potential to increase viewer engagement by as much as 34 percent on average.</p>
            <p><a class="cta-small" href="http://www.broadcastingcable.com/thewire/volicon-and-neon-partner-accelerate-and-optimize-generation-compelling-online-video/143864" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.bizjournals.com/pittsburgh/blog/innovation/2015/08/cmu-startup-neon-honored-by-world-economic-forum.html" rel="external">CMU startup Neon honored by World Economic Forum</a></h2>
            <time class="timestamp" datetime="2015-08-05">Pittsburgh Business Times / August 5, 2015</time>
            <p>Carnegie Mellon University startup Neon has been selected by the World Economic Forum as a 2015 Technology Pioneer. The program recognizes 49 companies from around the world involved in the design, development and deployment of new and proven technologies that WEF predicts will have a significant impact on business and society.</p>
            <p><a class="cta-small" href="http://www.bizjournals.com/pittsburgh/blog/innovation/2015/08/cmu-startup-neon-honored-by-world-economic-forum.html" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.fastcompany.com/3043930/most-creative-people-2015/sophie-lebrecht" rel="external">Most Creative People 2015</a></h2>
            <time class="timestamp" datetime="2015-06-05">Fast Company / June 5, 2015</time>
            <p>More than 1.8 billion pictures are uploaded to the Internet every day&mdash;and Sophie Lebrecht knows exactly which ones you&rsquo;ll choose to look at. Her company, Neon Labs, uses an algorithm to help a brand (or blog or game) select the single image from a video campaign that&rsquo;s likeliest to be shared. Each of Neon&rsquo;s customers has seen a 10% to 30% increase in engagement, she reports, and in just over two years, Lebrecht has served up more than a billion images. "Between Instagram, Snapchat, and TV, content creation grows and grows," she says.</p>
            <p><a class="cta-small" href="http://www.fastcompany.com/3043930/most-creative-people-2015/sophie-lebrecht" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.streamingmedia.com/Articles/Editorial/Featured-Articles/StreamingMedia.com-Presents-the-Best-Products-of-NAB-2015-103192.aspx" rel="external">The Best Products of NAB 2015</a></h2>
            <time class="timestamp" datetime="2015-04-15">Streaming Media / April 15, 2015</time>
            <p>For the third time, the editors and writers of StreamingMedia.com have scoured the conference halls and booths of NAB to present our awards for the best new products at the show. The last year has been a strong one for streaming video as our industry enters the mainstream in a big way. Viewers stream their favorite programs and movies from every location, and their expectations have risen. So have ours.</p>
            <p><a class="cta-small" href="http://www.streamingmedia.com/Articles/Editorial/Featured-Articles/StreamingMedia.com-Presents-the-Best-Products-of-NAB-2015-103192.aspx" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.broadcastingcable.com/news/technology/nab-neon-automates-thumbnail-selection/139515" rel="external">NAB: Neon Automates Thumbnail Selection</a></h2>
            <time class="timestamp" datetime="2015-04-08">Broadcasting &amp; Cable / April 8, 2015</time>
            <p>Neon has launched a platform for the selection of thumbnail images accompanying live streaming content that is designed to both automate the process and improve viewing. The Neon Live product, which frequently updates the thumbnail on live streams to include recent events, will be shown at NAB 2015 in Las Vegas, April 13&ndash;16.</p>
            <p><a class="cta-small" href="http://www.broadcastingcable.com/news/technology/nab-neon-automates-thumbnail-selection/139515" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="http://www.streamingmedia.com/Articles/News/Online-Video-News/Neon-Demonstrates-Live-Video-Thumbnail-Creation-Service-at-NAB-103190.aspx" rel="external">Neon Demonstrates Live Video Thumbnail Creation Service at NAB</a></h2>
            <time class="timestamp" datetime="2015-04-08">Streaming Media / April 8, 2015</time>
            <p>Live streamed video is exploding in popularity, and one company is creating a service that helps publishers attract more traffic to live streams. Neon, a San Francisco, California&ndash;based startup, currently offers a service that automatically creates optimized thumbnails for on&ndash;demand video content, which makes the videos more enticing to viewers. Today, Neon is announcing Neon Live, which brings the same ability to live video streams.</p>
            <p><a class="cta-small" href="http://www.streamingmedia.com/Articles/News/Online-Video-News/Neon-Demonstrates-Live-Video-Thumbnail-Creation-Service-at-NAB-103190.aspx" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="http://www.bizjournals.com/sanfrancisco/potmsearch/detail/submission/4458311/Jeff_Hosley" rel="external">Jeff Hosley, VP Sales at Neon Labs</a></h2>
            <time class="timestamp" datetime="2015-03-19">San Francisco Business Times / March 19, 2015</time>
            <p>Jeff will be leading global sales operations, spearheading relationships with media, entertainment, digital agency, and digital marketing clients. In addition to spreading Neon&rsquo;s concept to customers, Jeff will also increase the company&rsquo;s presence on the East Coast.</p>
            <p><a class="cta-small" href="http://www.bizjournals.com/sanfrancisco/potmsearch/detail/submission/4458311/Jeff_Hosley" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.bloombergview.com/articles/2015-02-27/benner-on-tech-surveillance-privacy-ello-uber-and-ibm" rel="external">Surveillance, Privacy, Ello, and IBM</a></h2>
            <time class="timestamp" datetime="2015-02-27">Bloomberg View / February 27, 2015</time>
            <p>Thanks to the sensors in our devices and the cameras all around us, we essentially live in a surveillance state. It&rsquo;s dominated by the device makers that let us easily load images to the Internet, as well as the social platforms that host video, like YouTube, Facebook and Twitter. But the rules of video engagement haven&rsquo;t developed as fast as our ability to monitor and share, and the tech community isn&rsquo;t doing enough to write those rules.</p>
            <p><a class="cta-small" href="http://www.bloombergview.com/articles/2015-02-27/benner-on-tech-surveillance-privacy-ello-uber-and-ibm" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="http://techcrunch.com/gallery/here-are-the-best-6-images-from-ces-according-to-neon-labs/" rel="external">Here Are the 6 Best Images from CES According to Neon Labs</a></h2>
            <time class="timestamp" datetime="2015-01-09">TechCrunch / January 9, 2015</time>
            <p>By the time the booths, barricades, banners and CES 2015 itself come to a close, there will have been more than 550,000 tweets with the conference hashtag #CES2015 and over 200,000 images tweeted. Based on research conducted at Carnegie Mellon and Brown, the San Francisco&ndash;based Neon Labs has developed an algorithm predicated on neuroscience research to identify the images that the human brain (as opposed to our eventual robot overlords) will find the most interesting.</p>
            <p><a class="cta-small" href="http://techcrunch.com/gallery/here-are-the-best-6-images-from-ces-according-to-neon-labs/" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.multichannel.com/they-ll-take-manhattan-project-and-use-it-hype-los-alamos/382777" rel="external">Startup Neon Labs Sees a Better Way to Draw Clicks</a></h2>
            <time class="timestamp" datetime="2014-07-28">Multichannel News / July 28, 2014</time>
            <p>Can the right thumbnail image generate more traffic for a Web video? Neon Labs thinks so and has put to work technology that automates the task of breaking down an online stream into individual frames, then selecting a thumbnail that, it said, can produce more clickthroughs than an image selected manually by a human.</p>
            <p><a class="cta-small" href="http://www.multichannel.com/they-ll-take-manhattan-project-and-use-it-hype-los-alamos/382777" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.wsj.com/articles/neon-labs-gains-funds-for-its-images-business-1405979045" rel="external">Neon Labs Gains Funds for Its Images Business</a></h2>
            <time class="timestamp" datetime="2014-07-21">The Wall Street Journal / July 21, 2014</time>
            <p>Humans are constantly evaluating visual images, and we find some to be more attractive without really being able to explain why. Neon Labs Inc. has raised new venture capital to continue building a business on this disconnect.
            <p><a class="cta-small" href="http://www.wsj.com/articles/neon-labs-gains-funds-for-its-images-business-1405979045" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://www.broadcastingcable.com/news/technology/neon-labs-raises-new-funding/132491" rel="external">Neon Labs Raises New Funding</a></h2>
            <time class="timestamp" datetime="2014-07-16">Broadcasting &amp; Cable / July 16, 2014</time>
            <p>Neon Labs has announced that it has obtained $4.1 million in Series A funding in round led by Mohr Davidow Ventures and supported by prior investors True Ventures and technology executive Steve Blank. Neon Labs provides technologies to help companies better monetize digital video that is attracting more interest from media players trying to get their content to stand out from a plethora of web and mobile content.
            <p><a class="cta-small" href="http://www.broadcastingcable.com/news/technology/neon-labs-raises-new-funding/132491" rel="external">Read More</a></p>
            
            <hr class="divider" />

            <h2 class="beta"><a href="http://blogs.wsj.com/venturecapital/2014/07/15/neon-labs-raises-4-1m-to-figure-out-the-subconscious-appeal-of-images/" rel="external">Neon Labs Raises $4.1M to Figure Out the Subconscious Appeal of Images</a></h2>
            <time class="timestamp" datetime="2014-07-15">The Wall Street Journal / July 15, 2014</time>
            <p>Humans are constantly evaluating visual images, and we find some to be more attractive without really being able to explain why. Neon Labs Inc. is building a business on this disconnect and has raised another $4.1 million to go forward, Venture Capital Dispatch has learned. Co&ndash;founded two years ago by Sophie Lebrecht, who has a Ph.D. in cognitive neuroscience, and based on more than a decade of research backed by the National Science Foundation, Neon Labs has technology that automatically extracts images from a video, ranks them and immediately begins testing them to see which ones are best at attracting online clicks.</p>
            <p><a class="cta-small" href="http://blogs.wsj.com/venturecapital/2014/07/15/neon-labs-raises-4-1m-to-figure-out-the-subconscious-appeal-of-images/" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="http://www.cmu.edu/news/stories/archives/2014/july/july15_neonlabspartnership.html" rel="external">News Brief: IGN Taps Carnegie Mellon Startup Neon Labs for 30 Percent Boost in Video Views</a></h2>
            <time class="timestamp" datetime="2014-07-15">Carnegie Mellow University / July 15, 2014</time>
            <p>Neon Labs, the Carnegie Mellon University startup that uses an image selection platform to maximize viewership of, and revenue from, digital content, today announced an agreement with IGN Entertainment, a premier media publisher that attracts 48.7 million unique visitors per month. This engagement was announced in conjunction with Neon&rsquo;s news of a Series A round of $4.1 million in funding. Led by Mohr Davidow Ventures, the round is supported by prior investors, True Ventures and technology executive Steve Blank. This new investment will enable Neon to meet increasing customer demand and accelerate its partnership with online video platform provider Brightcove.</p>
            <p><a class="cta-small" href="http://www.cmu.edu/news/stories/archives/2014/july/july15_neonlabspartnership.html" rel="external">Read More</a></p>
            
            <hr class="divider" />
            
            <h2 class="beta"><a href="http://venturebeat.com/2014/04/03/4-key-trends-that-are-revolutionizing-enterprise-effectiveness" rel="external">4 Key Trends that are Revolutionizing Enterprise Effectiveness</a></h2>
            <time class="timestamp" datetime="2014-04-03">VentureBeat / April 3, 2014</time>
            <p>For the last several years, conventional wisdom has been that enterprise software is the exciting area in which venture capitalists should invest. A large number of celebrated exits have occurred with firms such as Workday, Tableau, and Splunk, all of which appear to have long runways ahead. But what is driving this switch to the popularity of new enterprise software? Is it simply due to cloud infrastructure enabling less expensive solutions than older on&ndash;premise deployments? Is it because a company can get traction with very little capital to figure out product/market fit?</p>
            <p><a class="cta-small" href="http://venturebeat.com/2014/04/03/4-key-trends-that-are-revolutionizing-enterprise-effectiveness" rel="external">Read More</a></p>
            
            <hr class="divider" />
            
            <h2 class="beta"><a href="https://www.insidescience.org/content/making-decisions-speed-sight/795" rel="external">Making Decisions at the Speed of Sight</a></h2>
            <time class="timestamp" datetime="2012-09-28">Inside Science / September 28, 2012</time>
            <p>How does the brain connect what we see in the world with how we behave? This question launched my project to use the scientific understanding of human perception to better understand why the thumbnail images that preview online videos have so much influence over the number of clicks or views the video receives. I am a cognitive neuroscientist, working with a small group of researchers at Carnegie Mellon University. Our goal is to understand how the brain&rsquo;s visual system relates to people&rsquo;s slight positive or negative reactions to ordinary objects, which we call micro&ndash;valences.</p>
            <p><a class="cta-small" href="https://www.insidescience.org/content/making-decisions-speed-sight/795" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="https://www.whitehouse.gov/blog/2012/08/10/nsf-innovation-corps-science-lab-startup" rel="external">NSF Innovation Corps: From Science Lab to Startup</a></h2>
            <time class="timestamp" datetime="2012-08-10">The White House / August 10, 2012</time>
            <p>Sophie Lebrecht is a joint post&ndash;doctoral researcher in the Center for the Neural Basis of Cognition (CNBC) and the Tepper School of Business at Carnegie Mellon University (CMU). She is also an entrepreneur, thanks to the National Science Foundation&rsquo;s Innovation Corps (or I&ndash;Corps), a program created to allow researchers the opportunity to apply their research to the commercial world. I talked with Lebrecht about I&ndash;Corps and her experience as a scientist&ndash;turned&ndash;entrepreneur.</p>
            <p><a class="cta-small" href="https://www.whitehouse.gov/blog/2012/08/10/nsf-innovation-corps-science-lab-startup" rel="external">Read More</a></p>

            <hr class="divider" />

            <h2 class="beta"><a href="http://www.forbes.com/sites/jjcolao/2012/08/01/steve-blank-introduces-scientists-to-a-new-variable-customers" rel="external">Steve Blank Introduces Scientists to a New Variable: Customers</a></h2>
            <time class="timestamp" datetime="2012-08-01">Forbes / August 1, 2012</time>
            <p>Last spring Errol Arkilic, a program director for the NSF, called Steve Blank at his ranch in Pescadero, Calif. He wanted Blank, a four&ndash;time entrepreneur and renowned academician, to design the curriculum for a new government program called the Innovation Corps. Blank, 58, loved the idea, but he had one question: &ldquo;What the f&mdash; is the NSF?&rdquo;</p>
            <p><a class="cta-small" href="http://www.forbes.com/sites/jjcolao/2012/08/01/steve-blank-introduces-scientists-to-a-new-variable-customers" rel="external">Read More</a></p>

            <hr class="divider" />
            
            <h2 class="beta"><a href="http://www.post-gazette.com/businessnews/2012/07/03/CMU-startup-aimed-at-capturing-online-viewers-attention/stories/201207030305" rel="external">CMU Startup Aimed at Capturing Online Viewers&rsquo; Attention</a></h2>
            <time class="timestamp" datetime="2012-07-03">Pittsburgh Post&ndash;Gazette / July 3, 2012</time>
            <p>In May, more than 180 million U.S. online users watched 36.6 billion videos, according to comScore Inc. That&rsquo;s hours of silly feline antics, TV shows and music videos that captured the precious attention of viewers. A team from Carnegie Mellon University is in the process of developing a system to help online channels capture and keep more of those viewers as they poke around for something fun to see.</p>
            <p><a class="cta-small" href="http://www.post-gazette.com/businessnews/2012/07/03/CMU-startup-aimed-at-capturing-online-viewers-attention/stories/201207030305" rel="external">Read More</a></p>

        </div>
    </div>
</section>
