@font-face {
  font-family: "Balto Light";
  src: url("fonts/baltoweb-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Balto Book";
  src: url("fonts/baltoweb-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Balto Medium";
  src: url("fonts/baltoweb-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}