@import url('http://cloud.webtype.com/css/568203bd-32db-4f07-bf02-10b6c682c324.css');

@font-face {
    font-family: "Balto Thin";
    src: url("/fonts/baltoweb-thin.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: "Balto Book";
  src: url("/fonts/baltoweb-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Balto Medium";
  src: url("/fonts/baltoweb-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}