---
title: Partnerships
description: 'Community partnerships are a key part of Neon. Learn more and join.'
layout: ramsay
classes: partnerships
scripts:
  slides: false
  jump: false
sitemap: true
---

<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <h1 class="epsilon">Partnerships</h1>
            <div class="alpha">Better together.</div>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <p>We&rsquo;re building a community of people who think deeply about images.</p>
        </div>
        <div class="page-columns__recto">
            
            <img class="hero" src="/images/partnerships/partnerships-03.jpg" alt="" title="" />

            <h2 class="beta">Partners</h2>
            
            <p>Early on, we realized that it&rsquo;s vital to draw inspiration from a variety of sources and share our learnings with others around us. To that end, we&rsquo;ve worked from our earliest days to establish a community of partners around the idea of creative appreciation of the power of images. Our partnerships can take the form of events, blog posts, brainstorming sessions--whatever mode makes sense for the inquiry at hand.</p>
            
            <p><a class="cta-small" href="mailto:<%=data.config.partners_email%>">Partner with us</a></p>

            <hr class="divider" />

            <h2 class="epsilon">Highlights</h2>

            <figure class="quilt">
                <img class="quilt__piece -whole" src="/images/partnerships/partnerships-06.jpg" alt="" title="" />
                <img class="quilt__piece -half" src="/images/partnerships/partnerships-07.jpg" alt="" title="" />
                <img class="quilt__piece -half" src="/images/partnerships/partnerships-01.jpg" alt="" title="" />
            </figure>

            <h3 class="beta">WITNESS</h3>

            <p>Neon and <a href="https://witness.org/" rel="external">WITNESS</a> have a shared interest in the history-making power of images. WITNESS works to train citizen journalists in capturing visual evidence of human rights violations. Neon and WITNESS have <a href="https://medium.com/neon-blog/changing-the-future-of-human-rights-with-video-technology-fe83402d602e" rel="me">partnered</a> to think about how video is changing the future of human rights. Read a write up of our discussion on our <a href="https://medium.com/neon-blog/changing-the-future-of-human-rights-with-video-technology-fe83402d602e" rel="me">blog</a> or on <a href="http://www.bloombergview.com/articles/2015-02-27/benner-on-tech-surveillance-privacy-ello-uber-and-ibm" rel="external">Bloomberg View</a>.</p>

            <hr class="divider" />

            <figure class="quilt">
                <img class="quilt__piece -half" src="/images/partnerships/partnerships-05.jpg" alt="" title="" />
                <img class="quilt__piece -half" src="/images/partnerships/partnerships-02.jpg" alt="" title="" />
            </figure>

            <h3 class="beta">Bonhams</h3>

            <p>Neon has partnered with <a href="https://www.bonhams.com/" rel="external">Bonhams</a>, the fine art auction house, on a number of events. This has allowed us to gain a deeper understanding of how our technology intersects with the art world. Read about our recent event where we discussed parallels between art and tech on our <a href="https://medium.com/neon-blog/chasing-the-unicorn-2eeddf09de34" rel="me">blog</a> or in the <a href="http://blogs.wsj.com/digits/2015/10/09/what-venture-capital-and-art-have-in-common/" rel="external">Wall Street Journal</a>.</p>

            <hr class="divider" />

            <figure class="quilt">
                <img class="quilt__piece -whole" src="/images/partnerships/partnerships-04.jpg" alt="" title="" />
            </figure>

            <h3 class="beta">Customer advisory board</h3>

            <p>Neon partners with customer advisors from leading companies including <a href="http://www.bloomberg.com/" rel="external">Bloomberg</a>. Our customer advisors provide insight on trends and serve as beta testers for new Neon products and features. The group meets yearly in our offices in San Francisco for in depth sessions on industry advancements and emerging needs in editorial, brand, and e-commerce. Interested in learning more about our customer advisory board? Get in touch at <a href="mailto:<%=data.config.partners_email%>"><%=data.config.partners_email%></a>.</p>
        </div>
    </div>
</section>
