---
title: Products
description:
layout: ramsay
classes: products
scripts:
  slides: false
  jump: false
sitemap: true
---

<section class="pinch-left pinch-right bumper">
    <div class="squeeze-right">
        <h1 class="epsilon">Products</h1>
        <h2 class="alpha">Images that Impact.</h2>
        <p>Images are everywhere. Over 1.8 billion images are uploaded online every day. This volume will only increase as more people have the tools to create and share images in their back pockets. How will you manage your visual assets in a world inundated with images?</p>
        <p>Neon is a comprehensive solution that instantly filters through massive image databases and video libraries to identify and surface high-value visual assets. Features like smart cropping and automatic image optimization across platforms make Neon able to be personalized for different audiences and uses.</p>
        <p>Make smarter decisions about how to present your content with Neon, automatically.</p>
        <p><a class="cta-small" href="/how-it-works/">Learn how it works</a></p>
    </div>
</section>

<section class="pinch-left pinch-right bumper">
    <ul class="bricks">
        <li class="bricks__item">
        <h2 class="beta">Video</h2>
        <p>Find the video thumbnails that will engage your audience. Neon for Video surfaces the best thumbnails from your videos and continually optimizes them to ensure that the images representing your content are always the ones that will drive the most traffic.</p>
        </li>
        <li class="bricks__item">
            <h2 class="beta">Live</h2>
            <p>Revolutionary image selection tool for live streaming content, enabling publishers to get up-to-date and relevant thumbnails from their live video, in real time. Images to share on social media, websites, and elsewhere to draw viewers into live streaming video while it&rsquo;s happening.</p>
        </li>
        <li class="bricks__item">
            <h2 class="beta">Images</h2>
            <p>Flexible technology to select and surface the most compelling images from image libraries, stock photo sets, and content databases. A powerful tool to assist in the creation of photo galleries, effective search, and editorial images paired with articles.</p>
        </li>
    </ul>
</section>

<div class="collage-outer pinch-left pinch-right">
    <section class="collage-inner -collage-flavour-10">
        <div class="collage-text collage-tile-10-b">
            <p class="stat"><em class="stat__key">2 Billion+</em> <strong class="stat__value">Images served in past month</strong></p>
        </div>
        <figure class="collage-image collage-tile-10-c"></figure>
        <div class="collage-text collage-tile-10-a">
            <p class="stat"><em class="stat__key">$179,000+</em> <strong class="stat__value">Average increase in monthly ad revenue</strong></p>
        </div>
        <figure class="collage-image collage-tile-10-d"></figure>
        <div class="collage-text collage-tile-10-f">
            <p class="stat"><em class="stat__key">+16&ndash;34%</em> <strong class="stat__value">Average uplift for Neon customers</strong></p>
        </div>
        <figure class="collage-image collage-tile-10-e"></figure>
    </section>
</div>

<div class="collage-outer pinch-left pinch-right">
    <section class="collage-inner -collage-flavour-11">
        <figure class="collage-image collage-tile-11-a"></figure>
        <figure class="collage-image collage-tile-11-b"></figure>
        <div class="collage-text collage-tile-11-c">
            <blockquote class="happy-quote">
                <q class="happy-words">I was pleasantly surprised that not only did Neon for Video take a significant amount of work off our hands, it also improved the clickability of our thumbnails by 30% on average. This is a huge win for us.</q>
                <footer class="happy-source"><cite>Jim Hall / VP of Technology, IGN</cite></footer>
            </blockquote>
        </div>
        <div class="collage-text collage-tile-11-d">
            <p class="stat"><em class="stat__key -alt">+263%</em> <strong class="stat__value -alt">Click Rate Increase</strong></p>
        </div>
        <div class="collage-text collage-tile-11-e">
            <a class="cta-small" href="https://s3.amazonaws.com/neon_website_assets/Neon-IGN-Case-Study.pdf">Download Case Study</a>
        </div>
        <figure class="collage-image collage-tile-11-f"></figure>
        <div class="collage-text collage-tile-11-g">
            <p class="stat"><em class="stat__key -alt">+62%</em> <strong class="stat__value -alt">Click Rate Increase</strong></p>
        </div>
    </section>
</div>
 
<div class="pinch-left pinch-right">
    <div class="squeeze-left">
        <h2 class="epsilon">Integrations</h2>
        <p>Neon has highly flexible integrations with products and services like online video and content management platforms, social networks, analytics tools, and more. Some of our most common integrations are listed below. Get in touch for our full list.</p>
        <ul class="logos">
            <li class="logos__item">
                <img class="logos__image" src="/images/products/logos/brightcove.svg" alt="" title="" />
            </li>
            <li class="logos__item">
                <img class="logos__image" src="/images/products/logos/ooyala.svg" alt="" title="" />
            </li>
            <li class="logos__item">
                <img class="logos__image logos__image--little" src="/images/products/logos/twitter.svg" alt="" title="" />
            </li>
            <li class="logos__item">
                <img class="logos__image" src="/images/products/logos/akamai.svg" alt="" title="" />
            </li>
            <li class="logos__item">
                <img class="logos__image" src="/images/products/logos/snappy-tv.png" alt="" title="" />
            </li>
            <li class="logos__item">
                <img class="logos__image" src="/images/products/logos/volicon.png" alt="Volicon logo" title="Volicon" />
            </li>
        </ul>
        <p><a class="cta-big" href="/contact/">Get in Touch</a></p>
    </div>
</div>
