---
title: Front End Engineer (Intern) | Jobs
description:
layout: noble
tags:
  - front end
  - front-end
  - web developer
  - web designer
  - intern
  - engineering
  - engineer
  - san francisco
  - co-op
classes: jobs
scripts:
  slides: false
  jump: false
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <div class="prehead -alt-01">San Francisco</div>
            <h1 class="h -cushion">Front End Engineer (Intern)</h1>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <a class="cta-small" href="/jobs/">Back to Jobs</a>
        </div>
        <div class="page-columns__recto">

            <img class="hero" src="/images/jobs/jobs-html-code.png" alt="Computer screen showing some code" title="Screenshot of the HTML code used to build this page" />

            <p>We are looking for a smart, talented Engineering Intern to help our rapidly growing business perform and look even better. You&rsquo;ll be right in the middle of things as we design, prototype and build our new web applications &amp; websites. You will also have the opportunity to experience working in a fast, fun, start&ndash;up environment in Silicon Valley, which requires flexibility and continuous innovation. You won&rsquo;t just be an Intern to us&mdash;you will be a full member of the team.</p>

            <h2 class="hh">Responsibilities</h2>
            <ul>
                <li>Build mockups &amp; prototypes.</li>
                <li>Interact with our team members to incorporate their ideas &amp; vice&ndash;versa.</li>
                <li>Help create beautiful, standards&ndash;compliant, responsive, modern web pages &amp; applications.</li>
                <li>Identify &amp; communicate best practices for Front End engineering.</li>
                <li>Produce high&ndash;quality code, test it, collaboratively review it and ship it.</li>
            </ul>

            <h2 class="hh">Requirements</h2>
            <ul>
                <li>Expertise with <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> &amp; Javascript.</li>
                <li>Working knowledge of <abbr title="Representational State Transfer">REST</abbr> <abbr title="Application Program Interface">API</abbr>s.</li>
                <li>Passion for performance, debugging and quality.</li>
                <li>Education in Computer Science or related area, or relevant work experience.</li>
                <li>Keen eye for design and usability.</li>
                <li>Git, Github.</li>
                <li>Ability to prioritize and handle multiple projects with tight deadlines.</li>
                <li>Sense of humor.</li>
                <li>Good work ethic with a team player attitude.</li>
            </ul>

            <h2 class="hh">Nice to Haves</h2>
            <ul class="cols-2">
                <li>Javascript Frameworks.</li>
                <li>Data Visualisation.</li>
                <li><abbr title="Syntactically Awesome Style Sheets">Sass</abbr>, Less.</li>
                <li>JIRA.</li>
                <li>Unit testing.</li>
                <li>Photoshop, Sketch.</li>
                <li>Build environments.</li>
                <li>Amazon Web Services.</li>
                <li>AB Testing, Optimizely, etc.</li>
                <li>Google Analytics.</li>
            </ul>

            <h2 class="hh">About Neon</h2>
            <p>Neon is a venture&ndash;funded startup based on technology spun out of Brown, Carnegie Mellon and Harvard Medical School. Neon&rsquo;s fully automated image selection platform uses proprietary science to predict how the human brain will respond to images and how that response translates to increases in revenue through audience engagement.</p>

            <h2 class="hh">Perks</h2>
            <ul>
                <li>Beautiful Office in Downtown San Francisco.</li>
                <li>Kitchen filled with all types of snacks, coffee and soft drinks.</li>
                <li>Field trips, game nights and plenty of other fun office activities.</li>
                <li>Highly collaborative and experienced team to help the right candidate grow as an Engineer.</li>
                <li>Competitive Compensation.</li>
            </ul>

            <h2 class="hh">Neon&rsquo;s Internship Program</h2>
            <p>At Neon, we value freedom and responsibility. Because of the nature of our culture, we&rsquo;re particularly interested in people who work well in a self&ndash;directed environment where everyone has autonomy and ownership over their work. Since we treat interns as full members of the team, we expect them to contribute their own ideas and work closely with other team members.</p>
    
            <h2 class="hh">How to Apply</h2>
            <p>This internship requires at least a 10&ndash;12 week commitment in Summer 2016. Interested? Email <a href="mailto:ed@neon-lab.com">ed@neon-lab.com</a> to apply.</p>
            <p>We strongly recommend you include:</p>
            <ol>
                <li>Cover Letter detailing why you are interested in Neon.</li>
                <li>Link to your portfolio and/or GitHub account.</li>
                <li>R&eacute;sum&eacute; and/or LinkedIn link.</li>
                <li>What is your favourite <abbr title="HyperText Markup Language">HTML</abbr> tag (please mention a good reason).</li>
                <li>A two&ndash;minute hand drawn self portrait.</li>
            </ol>
            <p>No agencies, rockstars or ninjas please.</p>
        </div>
    </div>
</section>
