---
title: About Neon
description:
tags:
  - neons history
  - growth
  - awards + patents
  - investors
layout: ramsay
classes: about
scripts:
  slides: false
  jump: true
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <h1 class="epsilon">About</h1>
            <h2 class="alpha masthead">Images Matter.</h2>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <p>Where will your images take you?</p>
            <p><a class="cta-small js-neon-jump" href="#neons-history">Learn more</a></p>
        </div>
        <div class="page-columns__recto">
            <img class="hero" src="/images/about/about-cmu.jpg" alt="" title="" />
            <h2 id="neons-history" class="beta">Neon&rsquo;s History</h2>
            <p>We started with a simple question: does every images evoke an emotional response? With this spirit of curiosity and inquiry, we&rsquo;ve built Neon, based in San Francisco and founded on over ten years of research in the science labs of Brown University, Carnegie Mellon, and Massachusetts General Hospital. Through a process of research commercialization supported by the National Science Foundation and leading Silicon Valley venture capitalists, Neon has become the leading automated image management platform that can handle the billions of images uploaded online every day.</p>
            <p>Neon&rsquo;s award-winning image management tools make visual content more valuable for leading online news, sports, entertainment media publishers, advertisers and marketers. We have won awards for our visionary technology and innovative team.</p>
            <hr class="divider" />
            <h2 class="beta">Neon&rsquo;s Growth</h2>
            <p>As the number of images online grows, Neon scales to handle them with our smart, science-based technology.</p>
            <img class="hero" src="/images/about/about-infographic.svg" alt="" title="" />
            <hr class="divider" />
            <h2 class="beta">Awards + Patents</h2>
            <p>Neon has been recognized for innovation and we have consistently created patentable work.</p>
            <ul class="logos">
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-fast-company.svg" alt="" title="" />
                </li>
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-WEF.svg" alt="" title="" />
                </li>
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-NSF.svg" alt="" title="" />
                </li>
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-edison.png" alt="" title="" />
                </li>
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-streaming-media.svg" alt="" title="" />
                </li>
            </ul>
            <hr class="divider" />
            <h2 class="beta">Investors</h2>
            <p>We select our investors as carefully as we craft our team. We&rsquo;ve assembled a group of inspiring people who believe deeply in Neon&rsquo;s mission, vision, and values. This group includes <a rel="external" href="http://www.mdv.com/">Mohr Davidow Ventures</a>, <a rel="external" href="http://xseedcap.com/">XSeed Capital</a> and <a rel="external" href="http://steveblank.com/">Steve Blank</a>.</p>
            <ul class="logos">
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-mdv.png" alt="Mohr Davidow Ventures logo" title="MOHR DAVIDOW VENTURES" />
                </li>
                <li class="logos__item">
                    <img class="logos__image" src="/images/about/logos/logo-xseed.png" alt="XSeed Capital logo" title="XSEED" />
                </li>
            </ul>
        </div>
    </div>
</section>
