---
title: Customer Success Solutions Engineer | Jobs
description:
layout: ramsay
classes: jobs
scripts:
  slides: false
  jump: false
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <div class="epsilon">San Francisco</div>
            <h1 class="alpha masthead">Customer Success Solutions Engineer</h1>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <%= partial "partials/content/jobs/back-to-jobs" %>
        </div>
        <div class="page-columns__recto">

            <h2 class="beta">Position Description</h2>
            <p>The Customer Success Solutions Engineer (CSSE) supports the sales team during the Neon sales cycle with solution design, architecture, project management, and deployment activities. The role requires deep understanding of customer requirements related to workflow that enables Neon&rsquo;s technology to integrate seamlessly and easily into their existing environments. Success is driven by daily attention to details, hard work, and a strong desire to help customers improve the performance of their businesses. Our primary targets are both large enterprises with extensive digital assets that need to be optimized (video and images) and business to business companies with demanding digital marketing program performance programs. This role will be focused 100% of the time on developing new customers, including direct field engagement in North America.</p>

            <h2 class="beta">Primary Objectives</h2>
            <p>The primary objective of the CSSE is to support the Sales team with technical expertise to successfully close new customers for the assigned territory. The CSSE will be accountable for successful new customer deployment and operations as well as revenue quotas. Successfully deploying Neon technology for target customers is the critical function of this role. This includes gaining a solid understanding of the Clients&rsquo; organizational structures, technical operations, business operations, integration requirements, management objectives, and the value Neon can create for the prospective customers.</p>
            <p>In this role, the Customer Success Solutions Engineer will:</p>
            <ul>
                <li>Under the guidance of individual sales professionals, engage directly with prospects both in the field and remotely to educate them on the technical aspects of the Neon technology.</li>
                <li>Be the primary resource at Neon for gathering technical and operational requirements from prospective customers and partners to deploy Neon technology in their environments.</li>
                <li>Be the primary architect for Neon in designing, deploying, testing, and certifying the successful integration of Neon technology into a prospective customer&rsquo;s workflow.</li>
                <li>Prepare and present Neon technical and operational information to prospective Clients remotely and in the field directly, using modern presentation and communication tools.</li>
                <li>Effectively demonstrate the Neon SaaS solution to prospective Clients.</li>
                <li>Provide ongoing customer success support to ensure long&ndash;term customer retention. This includes regularly quarterly reviews with customers, communication of SIR&rsquo;s, and overall customer operational satisfaction.</li>
                <li>Role will have one foot in Engineering and participate in standard engineering team processes, when appropriate, to ensure a smooth and consistent flow of information from the field into Engineering.</li>
                <li>Role will work closely with Neon Product Management to ensure prospect and customer emerging requirements are considered appropriately in roadmap discussions.</li>
                <li>Contribute input for deployment, operational and product improvements, and new solution designs by collaborating with <abbr title="Research and Development">R&amp;D</abbr>, Marketing, and Account Management teams.</li>
                <li>Work with Neon leadership in regularly scheduled meetings to review new customer pursuit activity and present plans to meet quota expectations.</li>
                <li>Regularly prepare and present prospect deployment performance reports relevant to the execution of integration activities with Neon prospects</li>
                <li>Ensure a successful transition of a closed opportunity resulting from sales activities to production operations, and act as a liaison and advocate for production operations during any new client onboarding process.</li>
            </ul>

            <h2 class="beta">Metrics</h2>
            <ul>
                <li>A quota for monthly/quarterly/annual customer engagements and successful solution deployments will be assigned to the CSSE and achievement&ndash;to&ndash;plan will be measured to manage overall performance.</li>
                <li>Monthly (minimum) reviews and account planning will be completed with consistent measurement to established plans.</li>
            </ul>

            <h2 class="beta">Compensation</h2>
            <ul>
                <li>A comprehensive and competitive base salary and variable compensation program based on quota achievement and successful new customer pilots and production deployments.</li>
                <li>On Target Earnings (OTE) between $180 &ndash; $225k at 100% quota achievement; no caps</li>
            </ul>

            <h2 class="beta">Candidate Qualification Skills, Experience &amp; Requirements</h2>
            <ul>
                <li>5+ years of hands&ndash;on experience successfully supporting pre&ndash;sales activities in enterprise&ndash;level Client accounts in the field and remotely</li>
                <li>Consistent quota achievement in successful pilot and customer deployment in enterprise business markets</li>
                <li>Four&ndash;year college degree or equivalent work experience</li>
                <li>Deep technical expertise and experience in owning a process of technical prospect engagement from initial education thru production deployment of SaaS solutions in the web video and image content ecosystem</li>
                <li>Professional communication and presentation characteristics consistent with successful selling and supporting of business&ndash;to&ndash;business services and technology</li>
                <li>Successful experience in solution consulting in the large enterprise and performance marketing industry with solid knowledge of content marketing systems and operations.</li>
                <li>A self&ndash;starter with a strong and consistent work ethic</li>
                <li>Entrepreneurial mindset with demonstrated examples of innovative thinking and creative problem solving</li>
                <li>Excellent analytical, presentation, and organizational skills </li>
                <li>Fluent communication skills of written and verbal English</li>
                <li>Strong working knowledge of modern web systems, including OVP&rsquo;s (Brightcove, Ooyala, thePlatform, YouTube, Vimeo), marketing automation systems (Oracle Marketing Cloud, Adobe Marketing Cloud, Salesforce Marketing Cloud), web CMS, JavaScript, Python, HTML tags, and web technologies (REST APIs, etc.)</li>
                <li>Successful experience with providing proactive assistance and support to Clients</li>
                <li>A team player who can collaborate effectively and work independently demonstrating strong skills of persuasion</li>
                <li>Impeccable personal and business references</li>
            </ul>

            <h2 class="beta">Special Bonus Qualifications</h2>
            <ul>
                <li>Deep experience in the performance content marketing and digital marketing analytics industry</li>
                <li>Experience in training, mentoring, and coaching team members </li>
            </ul>
            <p>Note: Nothing in this job description restricts management&rsquo;s right to assign or reassign duties and responsibilities to this job at any time.</p>

        </div>
    </div>
</section>
