---
title: DevOps Engineer | Jobs
description:
layout: noble
classes: jobs
scripts:
  slides: false
---
<section class="pinch-left pinch-right">
	<header class="page-columns">
		<div class="page-columns__verso">
			<h1 class="prehead -alt-01">Open Position</h1>
			<h2 class="h -cushion">DevOps Engineer.</h2>
		</div>
	</header>
	<div class="page-columns">
		<div class="page-columns__verso">
			<a class="cta-small" href="/jobs/">Back to Jobs</a>
		</div>
		<div class="page-columns__recto">		
			<h3 class="hh">About the position</h3>
			<p>Are you a Chef master who loves tinkering away in the kitchen to produce novel recipes with the power to set thousands of machines marching to your orders? As a DevOps engineer at Neon, you will be responsible for ensuring the serving infrastructure is more scalable than the Borg and as bulletproof as a wall of Kevlar. We like to sleep soundly, and we need your help.</p>
			<p>You will build solutions and tools that support Neon APIs, infrastructure services, and Neon analytics, enabling them to operate at scale. Neon’s infrastructure is primarily based in AWS, uses Opsworks/Chef for deployment, and consists of both individual services and long&#45;running analytics clusters.</p>
			<p>At Neon, system stability is a team effort. This means all engineers strive to write stable and maintainable code, and share the responsibility of being &rsquo;on call&rsquo;.</p>
			<p>Joining our team means you&rsquo;ll become part of a high performance group that has built underwater robots, massive gaming infrastructures, and streaming services at Google, Zynga, and Brightcove. We have fun by cultivating hobbies such as sailing in the Bay and judging robotics competitions.</p>
			<h3 class="hh">Requirements</h3>
			<ul>
				<li>3+ years of DevOps experience</li>
				<li>Expert in Chef and AWS infrastructure services</li>
				<li>Proven ability to identify and troubleshoot issues in complex systems</li>
				<li>Experience building infrastructure monitoring tools for high&#45;traffic sites and</li>
				<li>Experience managing large deployments</li>
			</ul>
			<h3 class="hh">Desired Skills</h3>
			<ul>
				<li>Reliability and automation are integral to the way you work</li>
				<li>Deep knowledge of Linux, SaaS security, Amazon Web Services</li>
				<li>Extensive experience using AWS, especially in a VPC/Multi&#45;Region/Colocation setting</li>
				<li>Experience monitoring and managing scalable clusters that handle tremendous load</li>
			</ul>
			<h3 class="hh">How to Apply</h3>
			<p>Please send your resume and links to your previous projects (Github, Bitbucket etc.) to <a href="mailto:careers@neon-lab.com">careers@neon-lab.com</a> and let us know why you&rsquo;re interested in this position.</p>
		</div>
	</div>
</section>
