---
title: Home
description: 'The images your viewers want to see, automatically. Neon is neuroscience and machine learning for your visual content.'
layout: ramsay
classes: home
home: true
scripts:
  slides: false
  jump: true
  sitemap: true
---
<div class="collage-outer pinch-left pinch-right">
    <p class="alpha">Images are a gateway to content.</p>
    <p class="alpha">Do you know which images work the best?</p>
    <p><a class="cta-small js-neon-jump" href="#how-it-works">Learn more</a></p>
</div>

<div class="collage-outer pinch-left" id="how-it-works">
    <section class="collage-inner -collage-flavour-21">
        <figure class="collage-image collage-tile-21-b"></figure>
        <div class="collage-text collage-tile-21-a">
            <h2 class="epsilon">How it Works</h2>
            <h3 class="beta">The images your viewers want to see, automatically.</h3>
            <p>Our smart, science-based approach to understanding images predicts how your visual content will perform.</p>
            <p><a class="cta-small" href="/how-it-works/">Discover now</a></p>
        </div>
        <figure class="collage-image collage-tile-21-c"></figure>
        <figure class="collage-image collage-tile-21-d"></figure>
    </section>
</div>

<div class="collage-outer pinch-left pinch-right">
    <section class="collage-inner -collage-flavour-22">
        <div class="collage-text collage-tile-22-a">
            <h2 class="epsilon">Products</h2>
            <h3 class="beta">Make your images more valuable.</h3>
        </div>
        <figure class="collage-image collage-tile-22-b"></figure>
        <figure class="collage-image collage-tile-22-c"></figure>
        <div class="collage-text collage-tile-22-d">
            <div>Neon makes it easy for you to get more value out of your content by representing it with the right images for your viewers.</div>
            <p><a class="cta-small" href="/products/">Learn more</a></p>
        </div>
        <figure class="collage-image collage-tile-22-e"></figure>
    </section>
</div>

<div class="collage-outer pinch-right">
    <section class="collage-inner -collage-flavour-23">
        <div class="collage-text collage-tile-23-a">
            <h2 class="epsilon">Careers</h2>
            <h3 class="beta">Do you want to impact how images are used across the Internet?</h3>
        </div>
        <figure class="collage-image collage-tile-23-b"></figure>
        <div class="collage-text collage-tile-23-c">
            <div>Join our team of scientists, engineers, artists, and storytellers to understand and surface the right images at the right time.</div>
            <p><a class="cta-small" href="/careers/">Meet Neon</a></p>
        </div>
        <figure class="collage-image collage-tile-23-d"></figure>
    </section>
</div>
