%main.main
  .section
    %h1.section__item Images are a gateway to content.
    %h2.section__item The quick, brown fox
    %h3.section__item The quick, brown fox
    %h4.section__item The quick, brown fox
    %h5.section__item The quick, brown fox

  .section
    %p This is a paragraph