.columns {
  display: flex;
}

.column {
  &:not(:last-child) {
    margin-right: 3em;
  }
}

.column__page-intro {
  &:not(:last-child) {
    margin-right: 10em;
  }
}

.column__main-content {
  flex: 1;
}

img.column__image {
  max-width: 100%;
}