.columns {
  display: flex;
}

.columns--split {
  justify-content: space-between;

  & > * {
    width: 45%;
  }
}

.column {
  &:not(:last-child) {
    margin-right: 3em;
  }
}

.column__sidebar {
  width: 33%;

  &:not(:last-child) {
    margin-right: 10em;
  }
}

.column__main-content {
  flex: 1;
}

.column__image {
  max-width: 100%;
}

.column__block {
  &:not(:last-child) {
    margin-bottom: $xl;
  }
}
