.logo-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: $large;
  align-items: center;
}

.logo {
  padding-right: 100px;
  margin-bottom: $large;
  flex: 0 1 33.33%;

  img {
    width: 100%;
  }
}

.logo--twitter > img {
  max-height: 30px;
}

.logo--nsf > img {
  max-height: 100px;
}
