$mosaic-gutter: 40px;

.mosaic-block__container {
  display: flex;

  > :first-child {
    margin-right: $mosaic-gutter;
  }
}

.mosaic-block__column {
  display: flex;
  flex-direction: column;
}

.mosaic-block__row {
  display: flex;
  justify-content: center;

  & > * + * {
    margin-bottom: $mosaic-gutter;
  }

  &--centered {
    @extend .mosaic-block__row;
    align-items: center;
  }
}

.mosaic-block__content {
  max-width: 75%;

  &--centered {
    @extend .mosaic-block__content;
    margin: 0 auto;
  }
}

.mosaic-image {
  max-height: 100%;
  max-width: 100%;
}

.mosaic-image--left-gutter {
  margin-left: $mosaic-gutter;
}

.mosaic-image--bottom-gutter {
  margin-bottom: $mosaic-gutter;
}

.mosaic-image--small {
  width: 50%;
}

.image-container--small {
  width: 25%;
  height: auto;
}