.primary-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 11.58059%;;
  margin-right: 11.58059%;;
  margin-bottom: 12.6em;
}

.primary-nav__item {
  padding: 20px;
  font-size: 1.6em;

  color: $mountain-mist;

  &:hover {
    color: $hover-accent-color;
  }
}

.primary-nav__item--active {
  position: relative;

  color: $mine-shaft;

  &:before {
    display: block;
    position: absolute;
    width: 1em;
    height: 1px;
    bottom: 1em;
    left: 1.2em;

    content: '';
    background-color: $burnt-orange;;
  }
}

.primary-nav__item--logo {
  margin-right: auto;
  width: 7em;
  padding: 0;
}
