---
title: Page Not Found (Error 404)
layout: noble
classes: not-found
---

<section class="pinch-left pinch-right">
	<h5 class="prehead -alt-1">404</h5>
	<h2 class="h">Sorry, something<br />went wrong</h2>
	<!--<p>TODO</p>-->
	<a class="cta-small" href="/">Go Home</a>
</section>
